[run]
source=
    cooler/

omit=
	cooler/__main__.py
    cooler/_version.py
    cooler/sandbox/*
    cooler/io.py
    cooler/cli/csort.py

[report]
exclude_lines =
    pragma: no cover
    return NotImplemented
    raise NotImplementedError
