include CHANGES.md
include README.md
include LICENSE

graft tests
graft docs
prune docs/_build
prune docs/_static
prune docs/_templates

global-exclude __pycache__/*
global-exclude *.so
global-exclude *.pyd
global-exclude *.pyc
global-exclude .git*
global-exclude .deps/*
global-exclude .DS_Store