six==1.9.0
numpy==1.10.1
scipy==0.16.0
pandas==0.16.2
h5py==2.5.0
nose==1.3.7
mock==2.0.0
click==6.6
biopython==1.66
pyfaidx==0.4.7.1

# Unreleased Multiprocess hotfix See: http://bit.ly/2k1tHiq
-e git://github.com/uqfoundation/multiprocess@02c1480e3e0a8d6740a2234f1f757d8d90dc7705#egg=multiprocess
