.downloads-container {
}
.badges-container {
}
.badges {
  list-style:none;
  padding-left: 0;
  margin-left: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: 25% 75%;
	vertical-align: middle;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;

}

.bullet-icon {
	display: inline-block;
	margin: 10px 20px 10px 10px;
}

.bullet-text {
	display: inline-block;
	margin: auto; 
	vertical-align: middle;
}
